<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="main.css">
    <title>Daily Puzzles</title>
    <script src="https://use.fontawesome.com/33e4c41e2b.js"></script>
    <!--Boottrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <!--Navigation-->
    <nav class="navbar navbar-light" id="nav">
      <a class="navbar-brand" href="index.html">Riddles, Puzzles, and Tricks</a>
      <!--<p href="previous.html">Previous Puzzles</p>-->
    </nav>

    <div class="container" id="feature">
      <h1>Daily Puzzle</h1>
    </div>

    <div class="container" id="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/m0zrRIN_T5E" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container" id="comment">
      <form action="">
        Enter a Comment: <br>
        <input type="text">
        <input type="submit">
      </form>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
